.delete-btn {
  width: 95%;
  height: 20px;
  margin-top: 1rem;
}

input {
  border-radius: 0px;
}

.contact-input {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.edit-contact-form {
  text-align: left;
  padding: 20px;
}

.field-add-btn {
  width: 95%;
  margin-bottom: 10px;
}

.edit-btn {
  position: fixed;
  right: 3rem;
  top: 3rem;
  width: 50px;
  height: 25px;
  font-size: 14px;
  height: 30px;
  color: rgb(47, 71, 137);
}

.save-btn {
  width: 95%;
  margin-top: 1rem;
}
