/* define the outer container size to :: ipad pro 9.7 size 1536 x 2048 */
.container {
  position: fixed;
  width: 1024px;
  height: 768px;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(background.png);
  background-repeat: no-repeat;
  background-size: 1024px 768px;
}

/* define the navigation bar size */
nav {
  margin: 0;
  padding: 0;
  top: 94px;
  height: calc(672px);
  width: 100px;
  position: fixed;
  border: 1px dashed black;
  background-color: white;
  display: grid;
  grid-gap: 5px;
  justify-content: space-around;
}

.nav-icon {
  width: 100px;
  height: 100px;
}

.sub-container {
  position: fixed;
  margin: 0;
  padding: 20px;
  top: 94px;
  left: 102px;
  width: 882px;
  height: 634px;
  background-color: white;
  /* opacity: 0.5; */
}

.home {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home img {
  width: 500px;
  height: 500px;
}

.navbar-top {
  z-index: 100;
  top: 20px;
  left: 300px;
  background-color: gray;
}

.navbar-top img {
  width: 100px;
  height: 100px;
}

.locate {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  z-index: 10;
}
.locate img {
  width: 50px;
  cursor: pointer;
}

.map-container {
  /* background-color: gray; */
  width: 880px;
  height: 635px;
}

.google-map {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
}

.search input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 80%;
}
